
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

header {
    .primary-nav {
        flex-direction: row;
        height: 16em;
    }

    div#header-title {
        font-size: 8vw;
        bottom: 5vw;
    }
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

main {
    
}

.contact-main {
    display: flex;
    flex-direction: row;

    .contact-section {
        margin-right: 10px;
    }
}


/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

footer {

}


